.container .jumbotron{
    background:beige;
    color:purple;
    margin-top:150px;
}
body{
    background: url(https://images.unsplash.com/photo-1727331000865-b5085a18463b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)
}
h1{
    color:brown;
    text-align: center;
}
ul{
    color:whitesmoke;
}
img{
    height:250px;
    width:250px;
}