<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></head></title>
            </head>     
            <style>
                h1{
                    color:green;
                    }  
                </style>    
            <body> <h1> hi {{name}} Welcome, very {{msg}} !</h1>
                <style>
                    h2{
                        color:orange;
                        }  
                    </style>   
                <h2> Current date & time is : {{date}} </h2>
                </body>
            </html>
