h1{
    text-align:center;
}

body{
    background:url(https://images.squarespace-cdn.com/content/v1/566e1f4ad8af104b680384e5/1455514924492-1ZMR8U8ZOGFQB95J35O2/Olivia+Connelly+-+studenta.jpg?format=1500w);
    color:whitesmoke;
}