<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/demo1.css' %}">
    <title></title>
</head>
<body>
    <div class="container" align='center'>
    <div class="jumbotron">
          <h1 class="display-4">HOMEPAGE</h1>
          <p>continous </p>
          <a class="btn btn-primary btn-lg" href="/sports/" role="button">sport info </a>&nbsp&nbsp&nbsp
          <a class="btn btn-primary btn-lg" href="/movies/" role="button">movies info </a>&nbsp&nbsp&nbsp
          <a class="btn btn-primary btn-lg" href="/politics/" role="button">politics info </a>&nbsp&nbsp&nbsp
        </div>
      </div>
</body> 
</html>            
