<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/demo1.css'%}">
    <title></head></title>
            </head>      
            <body> <h1>{{head_msg}}</h1><hr>
                <ul>
                    <li>{{msg1}}</li>
                    <li>{{msg2}}</li>
                    <li>{{msg3}}</li>
                </ul>
                <img src="{%static 'images/news1.jpg' %}">
                <img src="{%static 'images/sports1.jpg' %}">
                <img src="{%static 'images/politics1.jpg' %}">
                </body>
            </html>
